### subastop-tech-test (root)

# Se usa tanto en backend como en frontend (NEXT_PUBLIC_API_KEY)
API_KEY=changeme

# Backend (Laravel)
# Si lo dejas vacío, genera uno con:
# docker compose exec app php artisan key:generate
APP_KEY=

# DB (MySQL en docker-compose)
DB_DATABASE=swapi_db
DB_USERNAME=swapi_user
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret

